html, body {
    height: 100%;
    /*max-height: 100%;*/
    /*overflow: hidden;*/
}

.main-div {
    /*background-image:url("../assets/bg.jpg") ;*/
    /*background-size: cover;*/
    width: 100%;
    height: 100%;

    /*background-size: auto 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}


.div-container {
    text-align: center;
    /*background-color: rgba(255, 255, 255, .6);*/
    background-color: rgba(0, 0, 0, .8);
    position: relative;
    /*display: block;*/
    height: 80%;
    width: 1000px;
    display: flex;
    justify-content: center;

}



.upload-btn {
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    margin-top: 20px;
    background-color: #0c63e4;
    padding: 7px 15px;
    color: white;
    border: 0;
    margin-bottom: 20px;
}

.div-result {
    background-color: dodgerblue;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    padding: 20px;
    border-radius: 4px 0 0 4px;
    box-shadow: -1px 5px 2px rgba(0, 0, 0, .5);
    text-align: left;
}

.div-swiper {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    /*width: 100%;*/
    width: 1000px;
    /*display: none;*/
}

.img-slide {
    width: 100px;
    height: 80px;
    position: relative;
}

.p-subscript {
    /*background-color: rgba(255,255,255,.6);*/
    /*background-color: rgba(30, 144, 255, .5);*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    padding: 1px 3px;
    border-radius: 2px;
    color: white;
    margin-bottom: 0;
}
.display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    width: fit-content;
    /*margin: 0 10px;*/
}

.progress {
    background-color: transparent !important;
    height: 10px !important;
}

.progress-bar {
    background-color: white !important;
    color: dodgerblue;

}
